<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>2NDI</string>
	<key>CFBundleDisplayName</key>
	<string>2NDI</string>
	<key>CFBundleExecutable</key>
	<string>2NDI</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>ca.exmachina.syphonndi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>SyphonNDI streams a camera to the network as NDI when you select one as the input.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NDI publishes this video stream to other machines on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ndi._tcp</string>
		<string>_ndi_discovery._tcp</string>
	</array>
</dict>
</plist>
